html {
	background: url("/q/cine-film-blank-frame-pale.jpg") repeat-y center center;
	background-size: 100% auto;
}
body {
	font-family: serif;
	max-width: 64em;
	padding: 0.6em;
	margin: 0 auto;
}
h2 {
	margin-top: 0.5em;
}
.title {
	text-align: center;
	padding: 0;
	margin: 2.5rem auto 1.3rem auto;
	max-width: 85%;
	font-size: 155%;
	color: #773333;
	transform: perspective(10rem) rotateX(-15deg) scaleY(3.5);
}
.subtitle  {
	text-align: center;
	margin-top: 0;
}


.plop {
	display: none;
	position: absolute;
	z-index: 1;
	width: calc(100% - 4em);
	left: 50%;
	margin: -0.5em -50%;
	padding: 2em;
}
.plop .backer {
	background-color: gray;
	opacity: 0.2;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.plop aside {
	position: relative;
	padding: 1em;
	z-index: 1;
	background-color: #FFFAFA;
	box-shadow: 0 0 1em 0 gray;
}
.plop .closer {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: 0.8em;
	border: 1px solid gray;
	background-color: white;
	font-size: 250%;
	text-align: center;
	cursor: pointer;
}
.plop .closer span {
	font-weight: bold;
	position: relative;   /* vertical-align does nothing */
	top: -0.26em;
}
@media screen and (min-width: 40em) {
	.narrow {
		max-width: 36em;
		margin: 2em -19.5em;
	}
	.userSummary td:first-child {
		white-space: nowrap;
		padding-right: 0.5em;
	}
}
.narrow aside {
	box-shadow: 0 0 3em 0 gray;
	/*text-shadow: 0 0 1.5px white;*/
}
.plop.narrow {
	position: fixed;
}
.plop.narrow aside {
	background-color: rgba(235, 235, 255, 0.92);
}


label, button {
	font-family: sans-serif;
	font-size: 90%;
	display: inline-block;
}
button {
	margin: 0.6em 0;
}
input[type=text], textarea {
	font-family: serif;
	font-size: 100%;
	border-radius: 0.25em;
	margin: 0.25em;
	display: inline-block;
}
textarea {
	width: 75%;
	height: 8em;
	vertical-align: middle;
}
form p:last-child {
	margin-bottom: 0;
}
.fields {
	background: white;
	border: 1px solid silver;
	padding: 0.5em;
	box-shadow: 0 0 0.4em 0 gray;
}

.narrowgowides {
	white-space: nowrap;
}
.narrowgowides label {
	margin-right: 2em;
}
.narrowgowides label:last-child {
	margin-right: 0;
}
.narrowgowides input {
	width: 11em;
}
@media screen and (max-width: 57em) {
	.narrowgowides label {
		width: 3.5em;
		margin-left: 0;
	}
	.narrowgowides {
		width: 18em;
		white-space: normal;
	}
}

.modery {
	font-family: sans-serif;
	font-size: 80%;
	position: relative;
	top: -1.33em;
	margin-bottom: 0.33em;
}
.chungus label {
	min-width: 6em;
}
.chungus textarea {
	width: calc(100% - 7em);
}
.chungus input.chungus {
	width: calc(100% - 7em);
}
.postchex {
	margin-left: 5.7em;
}
.optionality {
	position: absolute;
	top: 1.45em;
	transform: scaleY(0.8);
	color: #337733;
}


.validation {
	font-style: italic;
	color: #880000;
}
.failure {
	font-style: italic;
	color: #CC0000;
}
.exceptional {
	color: #996666;
}


.pitch {
	border: solid 1px silver;
	background: white;
	padding: 0.6em 1em;
	margin: 1.5em 2em;
}
.pitch.dark {
	background: #EEEEEE;
}
.pitch.benev, .pitch.dark.benev {
	background: #F2FFF2;
}
.pitch.malev, .pitch.dark.malev {
	background: #FFECE0;
}
.star {
	color: #DDAA00;
}
.uppergap {
	margin-top: 1em;
}
.lowergap {
	margin-bottom: 1em;
}
.uppergap .favetitle {
	line-height: 1.1em;
}
.aftergap {
	margin-right: 2em;
}
.stars .star {
	font-size: 180%;
	vertical-align: middle;
	cursor: pointer;
}
.stars .spam {
	margin-left: 4em;
	color: #444444;
	font-style: italic;
	font-family: sans-serif;
	font-size: 88%;
	cursor: pointer;
}
.spam:hover {
	text-decoration: underline;
}
.spam.marked {
	font-weight: bold;
	color: #000000;
}

.favetitle {
	display: inline-block;
	margin: 0;
	line-height: 1.25em;
}
.otherstar {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 66.6%;
	white-space: nowrap;
	color: #666666;
}
.favepitch {
	clear: both;
	white-space: pre-wrap;
}

.meta {
	font-family: sans-serif;
	font-size: 90%;
	color: #444444;
}
.meta .fields {
	margin-top: 2em;
}
.meta .blockquote {
	padding: 0.75em 1em 0.75em 2em;
}
.lit {
	font-family: serif;
	font-size: 111%;
	color: black;
}
.qq {
	font-size: 120%;
	font-weight: bold;
	margin: 0.33em 0;
}
.meta label {
	margin-right: 2em;
}
.userSummary {
	font-family: sans-serif;
	font-size: 90%;
}
.userSummary td {
	vertical-align: middle;
}
.userSummary td:last-child {
	overflow-wrap: anywhere;   /* no way to specify break on punctuation but not letters */
}
.warn {
	color: #990000;
}
.antiwarn {
	color: #008800;
}
.browse {
	text-decoration: underline;
	text-decoration-color: #777799;
}
.deleted {
	text-decoration: line-through;
}
